{{ partial "header" . }}
    {{ $.Scratch.Set "shareNav" true }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <div>
            <h2><a href="./">14 天搞定 Go 语言 </a></h2>      
            <a href="http://golang.org">Go</a> 是一种用来构建简单，快速和可靠软件的开源程序设计语言。
            <a href="https://gobyexample.com/"> translate and modify from english </a>
            任何高楼大厦都是从地基开始的，本文是从最简单的例子和概念开始，零基础可以14天内入门go语言开发。多做例子。孰能生巧！
            后续可以加入老师教学群，群殴go。快速学习go语言不是很难。
            最后祝你成功, Good luck. 
        </div>

        <ul>
      
        <li><a href="hello-world">世界，你好  (Hello World)</a></li>
      
        <li><a href="values">值 (Values)</a></li>
      
        <li><a href="variables">变量 (Variables)</a></li>
      
        <li><a href="constants">常量 (Constants)</a></li>
      
        <li><a href="for">For循环</a></li>
      
        <li><a href="if-else">If/Else 分支</a></li>
      
        <li><a href="switch">Switch 切换分支</a></li>
      
        <li><a href="arrays">数组 (Arrays)</a></li>
      
        <li><a href="slices">切片 (Slices)</a></li>
      
        <li><a href="maps">映射 或者 键值对 (Maps)</a></li>
      
        <li><a href="range">范围例遍 (Range)</a></li>
      
        <li><a href="functions">函数 (Functions)</a></li>
      
        <li><a href="multiple-return-values">多值返回 (Multiple Return Values)</a></li>
      
        <li><a href="variadic-functions">变参函数 (Variadic Functions)</a></li>
      
        <li><a href="closures">闭包 (Closures)</a></li>
      
        <li><a href="recursion">递归 (Recursion)</a></li>
      
        <li><a href="pointers">指针 (Pointers)</a></li>
      
        <li><a href="structs">结构体 (Structs)</a></li>
      
        <li><a href="methods">方法 (Methods)</a></li>
      
        <li><a href="interfaces">接口 (Interfaces)</a></li>
      
        <li><a href="errors">错误处理 (Errors)</a></li>
      
        <li><a href="goroutines">协程 (Goroutines)</a></li>
      
        <li><a href="channels">通道 (Channels)</a></li>
      
        <li><a href="channel-buffering">带缓存通道 (Channel Buffering)</a></li>
      
        <li><a href="channel-synchronization">通道同步 (Channel Synchronization)</a></li>
      
        <li><a href="channel-directions">通道方向 (Channel Directions)</a></li>
      
        <li><a href="select">选择 (Select)</a></li>
      
        <li><a href="timeouts">超时 (Timeouts)</a></li>
      
        <li><a href="non-blocking-channel-operations">非阻塞通道操作 (Non-Blocking Channel Operations)</a></li>
      
        <li><a href="closing-channels">通道关闭 (Closing Channels)</a></li>
      
        <li><a href="range-over-channels">范围例遍通道 (Range over Channels)</a></li>
      
        <li><a href="timers">定时器 (Timers)</a></li>
      
        <li><a href="tickers">心跳起Tickers</a></li>
      
        <li><a href="worker-pools">工作队列池 (Worker Pools)</a></li>
      
        <li><a href="rate-limiting">限速 (Rate Limiting)</a></li>
      
        <li><a href="atomic-counters">原子计数 (Atomic Counters)</a></li>
      
        <li><a href="mutexes">互斥锁 (Mutexes)</a></li>
      
        <li><a href="stateful-goroutines">有状态协程 (Stateful Goroutines)</a></li>
      
        <li><a href="sorting">排序 (Sorting)</a></li>
      
        <li><a href="sorting-by-functions">利用函数排序 (Sorting by Functions)</a></li>
      
        <li><a href="panic">计算机恐慌 (程序挂了) (Panic)</a></li>
      
        <li><a href="defer">保证函数退出前执行 (Defer)</a></li>
      
        <li><a href="collection-functions">集合相关函数 (Collection Functions)</a></li>
      
        <li><a href="string-functions">字符串函数 (String Functions)</a></li>
      
        <li><a href="string-formatting">字符串格式 (String Formatting)</a></li>
      
        <li><a href="regular-expressions">正则表达式 (Regular Expressions)</a></li>
      
        <li><a href="json">一种常用数据格式 (JSON)</a></li>
      
        <li><a href="time">时间包 (Time)</a></li>
      
        <li><a href="epoch">时间戳 (Epoch)</a></li>
      
        <li><a href="time-formatting-parsing">时间格式/解析 (Time Formatting / Parsing)</a></li>
      
        <li><a href="random-numbers">随机数 (Random Numbers)</a></li>
      
        <li><a href="number-parsing">数字解析 (Number Parsing)</a></li>
      
        <li><a href="url-parsing">URL 解析 (URL Parsing)</a></li>
      
        <li><a href="sha1-hashes">SHA1散列 (SHA1 Hashes)</a></li>
      
        <li><a href="base64-encoding">Base64编码 (Base64 Encoding)</a></li>
      
        <li><a href="reading-files">读文件 (Reading Files)</a></li>
      
        <li><a href="writing-files">写文件 (Writing Files)</a></li>
      
        <li><a href="line-filters">行过滤器 (Line Filters)</a></li>
      
        <li><a href="command-line-arguments">命令行参数 (Command-Line Arguments)</a></li>
      
        <li><a href="command-line-flags">命令行标志 (Command-Line Flags)</a></li>
      
        <li><a href="environment-variables">环境变量 (Environment Variables)</a></li>
      
        <li><a href="spawning-processes">生成中的进程 (Spawning Processes)</a></li>
      
        <li><a href="execing-processes">执行中进程 (Exec'ing Processes)</a></li>
      
        <li><a href="signals">信号 (Signals)</a></li>
      
        <li><a href="exit">退出 (Exit)</a></li>

      
      </ul>
        {{ range first 1 (where .Site.Pages "Type" "post") }}
            {{ .Render "content-single" }}

            {{ partial "share-menu" . }}
        {{ end }}
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
